<html th:include="template :: modelo">
<div th:fragment="conteudo">
    <form action="/novo_prop" method="post" th:object="${proprietario}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" th:field="*{nome}">
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Telefone</label>
            <input type="text" class="form-control" th:field="*{telefone}">
        </div>
        <button type="submit" class="btn btn-primary">Gravar</button>
    </form>
</div>

</html>